/* Global Fonts */
:root {
  --ff-primary: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, z szsFira Sans, Droid Sans, Helvetica Neue, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, sans-serif;
  --ff-accent: serif;
}

/* Global Font Sizes */
:root {
  --fs-small: 0.875rem;
  --fs-primary: 1rem;
  --fs-accent: 1.5rem;
  --fs-title: 3rem;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
}
