footer {
  padding: 1.5rem var(--padding-inline) 6rem var(--padding-inline);
  background: #f4f4f4;
  min-height: 10rem;

  input {
    display: none;
  }

  .links-wrapper {
    display: flex;

    > div {
      flex-grow: 1;
    }
    font-size: var(--fs-small);
    h3 {
      font-weight: 700;
      margin-bottom: 1rem;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }
  }
}

@media (max-width: 768px) {
  footer .links-wrapper {
    flex-direction: column;
    gap: 0rem;

    div {
      border-bottom: 1px solid #ccc;
      margin-bottom: 1rem;
    }

    label {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h3 {
      margin: 0;
    }

    svg {
      height: 1rem;
      width: 1rem;
      fill: var(--clr-text);
      margin-right: 1rem;
      transition: transform 0.1s linear;
    }

    ul {
      margin-block: 0.5rem;
      overflow: hidden;
      transition: max-height 0.2s ease-in;
      max-height: 0;
    }

    div:has(input:checked) ul {
      max-height: 20rem;
      transition: max-height 0.2s ease-out;
    }

    div:has(input:checked) svg {
      transform: rotate(180deg);
    }
  }
}
