.landing-wrapper {
  position: relative;
  margin-bottom: 8rem;
}

.landing {
  position: relative;
}

.landing-bg {
  width: 100%;
  height: 24rem;
}

.landing-content {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  padding-inline: var(--padding-inline);

  color: var(--clr-bg);

  h1 {
    font-size: var(--fs-title);
    font-weight: 900;
    margin-bottom: 1rem;
  }
  .subtitle {
    font-size: var(--fs-accent);
    font-weight: 400;
    margin-bottom: 2rem;
    letter-spacing: 0.125ch;
  }

  button {
    width: fit-content;
    padding: 1rem;
    font-weight: 500;
  }
}

.landing-wrapper .search-bar {
  position: absolute;
  width: calc(100% - 2 * var(--padding-inline));
  height: 4rem;
  background-color: var(--clr-accent);
  padding: 0.25rem;

  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);

  bottom: 0;
  border-radius: 7px;

  left: 50%;
  translate: -50% 50%;

  display: grid;
  grid-template-columns: 2.5fr 2fr 2fr 0.7fr;
  gap: 0.25rem;

  button {
    font-size: 1.25rem;
    font-weight: 500;
  }

  > * {
    border-radius: 5px;
  }

  .formgroup {
    position: relative;

    background: var(--clr-bg);
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 0.75rem;

    padding: 1rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--clr-text--muted);
    }

    input {
      border: none;
      outline: none;
      font-size: var(--fs-small);
      width: 100%;
    }
  }
}

#select-date {
  cursor: pointer;
}

.date-selector {
  display: none;
  position: absolute;
  background: var(--clr-bg);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;
  top: 100%;
  margin-top: 0.5rem;

  input {
    display: none;
  }

  .month-picker {
    height: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-bg--muted);

    .month {
      font-weight: 500;
    }

    button {
      height: 100%;
      padding: 0.5rem 2rem;
      background: var(--clr-bg);
      border: none;
      transition: var(--transition);
    }
    button:hover {
      filter: brightness(0.9);
    }
  }

  .date-picker {
    padding: 1rem;
    text-align: center;
    > * {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 0.25rem;
      place-items: center;
    }

    .date-name {
      font-weight: 500;
      margin-block: 0 1rem;
      color: var(--clr-text--muted);
    }

    .date {
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--clr-bg);
        width: 2.25rem;
        height: 2.25rem;
        cursor: pointer;
        border-radius: 999rem;
        transition: filter 0.2s ease;
      }
      li:not(.placeholder):hover {
        filter: brightness(0.9);
      }
      li.selected {
        background: var(--clr-accent);
        color: var(--clr-bg);
      }
      .date-item.hide,
      .placeholder.hide {
        display: none;
      }
    }
  }
}
